# ================= #
# Unity generated    #
# ================= #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

# ================= #
# OS generated      #
# ================= #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================= #
# Rider / JetBrains #
# ================= #
.idea/
*.iml
*.ipr
*.iws

# ================= #
# Visual Studio      #
# ================= #
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vscode/

# ================= #
# Build artifacts    #
# ================= #
*.apk
*.aab
*.unitypackage

# Crash Reports
CrashReports/
